<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Satellite</title>
    </head>
    <body>
        <!-- <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
        <div class="container">
            <a class="navbar-brand" href="/">Satellite</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <img class="logo" src="https://image.flaticon.com/icons/svg/254/254009.svg" width="10%" alt=""></h1>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item ">
                <a class="nav-link" href="/">Home </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#call-to-action">About</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#footer">Contact</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <% if(user) { %>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle"
                    data-toggle="dropdown" id="navbarDropdownMenuLink">Ideas</a>
                    <div class="dropdown-menu">
                        <a href="/ideas/add" class="dropdown-item">Add Ideas</a>
                        <a href="/ideas" class="dropdown-item">View Ideas</a>
                    </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/logout">Logout</a>
                    </li>
                    <% } else { %>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle"
                            data-toggle="dropdown" id="navbarDropdownMenuLink">Login</a>
                            <div class="dropdown-menu">
                                <a href="/users/login" class="dropdown-item">Ideator</a>
                                <a href="/investor/login1" class="dropdown-item">Investor</a>
                            </div>
                            </li>
                 <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle"
                data-toggle="dropdown" id="navbarDropdownMenuLink">SignUp</a>
                <div class="dropdown-menu">
                    <a href="/users/register" class="dropdown-item">Ideator</a>
                    <a href="/investor/register1" class="dropdown-item">Investor</a>
                </div>
                </li>
                <% } %>
            </ul>
     
  </div>
  </div>
</nav> -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <a href="#" class="button-collapse show-on-large" style="color: white; text-decoration: none;" onclick="openNav()">&#9776; </a>
                    <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                        <li>
                            <a href="/publicideas"> <i class="fa fa-comment"></i> Public Ideas</a>
                        </li>
                        <li>
                            <a href="/"> <i class="fa fa-cog"></i> Dashboard</a>
                        </li>
                        <% if(user) { %>
                        <li>
                            <a href="/users/logout"> <i class="fa fa-sign-out"></i> Logout</a>
                        </li>
                        <% } %>
                    </div>
            </ul>
        </div>
            <div class="mx-auto order-0">
                <a class="navbar-brand mx-auto" href="#intro">SATELLITE</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
                </button>
            </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
                <% if(user) { %>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle"
                    data-toggle="dropdown" id="navbarDropdownMenuLink">Ideas</a>
                    <div class="dropdown-menu">
                        <a href="/ideas/add" class="dropdown-item">Add Ideas</a>
                        <a href="/ideas" class="dropdown-item">View Ideas</a>
                    </div>
                </li>
                    <% } else { %>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle"
                            data-toggle="dropdown" id="navbarDropdownMenuLink">Login</a>
                            <div class="dropdown-menu">
                                <a href="/users/login" class="dropdown-item">Ideator</a>
                                <a href="/investor/login1" class="dropdown-item">Investor</a>
                            </div>
                            </li>
                 <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle"
                data-toggle="dropdown" id="navbarDropdownMenuLink">SignUp</a>
                <div class="dropdown-menu">
                    <a href="/users/register" class="dropdown-item">Ideator</a>
                    <a href="/investor/register1" class="dropdown-item">Investor</a>
                </div>
                </li>
                <% } %>
        </ul>
    </div>
</div>
</nav>

<script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous">
</script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
        }
        
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
        </script>
</body>
</html>